body {
    background-image: linear-gradient(purple, black);
    margin: 15px 35px 45px 35px;
    color: white;
    letter-spacing: 3px;
    font-family: Shadows Into Light, cursive;
}
h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
}
h2 {
    font-size: 1.5rem;
}
p {
    font-size: 1.5rem;
}
#img1 {
    width: 30%;
    height: auto;
    border: 1px black solid;
    outline: 1px violet solid;
    margin-top: 25px;

}
#img2 {
    width: 31%;
    height: auto;
    border: 1px black solid;
    outline: 1px violet solid;
}
#img3 {
    width: 33%;
    height: auto;
    border: 1px black solid;
    outline: 2px violet solid;
}
footer {
    text-align: center;
}